body {
  color: rgb(var(--foreground-rgb));
  background: #FFDECD !important;
}

p,h1,h2,h3 {
  color: #391400;
}

/* a {
  display: block;
  width: 100%;
  height: 100%;
} */

footer p {
  color:white;
}
